.CalcHome {
    font-size: 8pt;
}

.Calculator {
    display: flex;
    justify-content: space-between;
}

.CalcColLeft {
    display: flex;
    flex-direction: column;
    flex: 0.6;
    align-items: flex-end;
}

.CalcColRight{
    flex: 0.2;
    font-weight: 800;
}

