/* tr :first-child {
    text-align: end;
} */

.Labor-Input {
    max-width: 3rem;
    min-width: 3rem;
}

tr :first-child {
    text-align: end;
}

tr :nth-child(3) {
    text-align: center;
}

tr :nth-child(5) {
    text-align: center;
}

